.home-containerLike {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f8f9fa;
}

.logo-containerLike {
    margin-left: 30px;
    display: flex;
    justify-content: flex-start;
}

.logoLike {
    
    width: 101px; 
    height: 87px; 
        border-radius: 50%; 
        /* overflow: hidden;  */
        border-right: #333 5px double;
        border-left: #333 5px double
      
}

.headline-container-Like{
    flex-grow: 1; 
    text-align: center; 
}

.headline {
    margin: 0; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
}

.buttons-container-Like {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    margin: 1px;
    
}

.home-button {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    /* border:  2px #b6a7a7; */
    border: #997474 2px double;
    background-color:snow;
    padding: 1rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    margin-right: 35px;
}

.home-button:hover {
    background-color: #b6a7a7;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}
/* Like section styles */
.like {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    padding: 20px;
    margin: 20px;
  }
  
  .like .empty-like-message {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .like .empty-like-message p {
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .like .empty-like-message .imgcl {
    max-width: 100%;
    height: auto;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .like-product-card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .like-product-card:hover {
    transform: scale(1.05);
  }
  
  .like-product-card h4 {
    font-size: 20px;
  color: #333;
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 8px;
  margin-top: 0px;
  }
  
  .like-product-card p {
    font-size: 16px;
    color: #555;
    margin-bottom: 16px;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .like-product-card .product-image {
    max-width: 100%;
    height: 200px;
    margin-bottom: 16px;
  }
  
  .like-product-card button {
    background: #dde4eb;
    font-size: 16px;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .like-product-card button:hover {
    background: #52565a;
    color: white;
  }
  