
body {
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #9d6547;
  padding: 1rem;
}

.navbar-brand {
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  font-family: 'Times New Roman', Times, serif;
}

.navbar-nav {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-left: 1.5rem;
}

.nav-link {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s ease;
  font-family: 'Times New Roman', Times, serif;
  font-size: larger;
}

.nav-link:hover {
  background-color: #575757;
  border-radius: 5px;
}

/* Responsive navbar */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-nav {
    flex-direction: column;
    width: 100%;
  }

  .nav-item {
    margin: 0;
    width: 100%;
  }

  .nav-link {
    width: 100%;
    text-align: left;
  }
}
